{% extends 'base.html' %} {% block content %}

<header>
    <div class="col-xs-12">
        <div class="row">
            <h1>Riddle Quiz</h1>
        </div>
    </div>
</header>
<br>
<div class="col-xs-12">
    <div class="row">
        <form method="POST" class="form-group">
            <label for="username"></label>
            <input type="text" id='username' name="username" placeholder="username" />

            <button type="submit" class="btn btn-primary">Go to Quiz</button>
        </form>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% endblock %}
    </div>
</div>
